.about-section {
    max-width: 800px;
    margin: 120px;
    padding: 0 20px;
    text-align: left;
    padding-top: 40px;
    font-family: "DM Sans", sans-serif;

}

.about-section h1 {
    font-family: 'Playfair Display', serif;
    font-weight: lighter;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

@keyframes fadeSlideDown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-slide {
    animation: fadeSlideDown 1s ease-out both;
}